.dropLayout {
  width: calc(80%- 190px);
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.rglContainer {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
  /*background-image: url('./milky-way-1030765_1920.jpg');*/
}

.react_diable_resizing {
  display: none;
}
