.top-row-handler {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  width: 100px;
}
.top-row {
  z-index: 101;
  display: flex;
  justify-content: space-between;
  //align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 7px 54px -18px rgba(0, 0, 0, 0.75);
}

.top-row-hide {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  //align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.tob-row-tab-button {
  width: 80%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
